//- index.pug
doctype html
html
  head
    title Srishti Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="static/2b81cd28679b1e2fc7ba653b6104d407.png")
                | SDA
            li #[a(href="./") Home] 
            li #[a(href="./") About] 
            li #[a(href="./") Contact] 
            li #[a(href="./") Services]
            li #[a(href="./") Class Info]
    section#introSection
        div Welcome to Anshika's Dance Academy! 
        div.small Eat Dance Sleep Reapeat
        div.small For kid section only
     
    section#missionSection
        h2 Our Mission
        div.card 
          h3 Dance Perfection
          div.card-img
              img(src="static/dancer_PNG32.png")
          div.card-content
              p This is dance tutorial for kids only who dressed xs size cloths and there very fortunate becoz Anshika ma'am will teach only those students
        div.card 
          h3 Dance the way you like
          div.card-img
              img(src="static/dancer_PNG32.png")
          div.card-content
              p This is dance tutorial for kids only who dressed xs size cloths and there very fortunate becoz Anshika ma'am will teach only those students
        div.card
          h3 Expert Teaching
          div.card-img
              img(src="static/dancer_PNG32.png")
          div.card-content 
              p This is dance tutorial for kids only who dressed xs size cloths and there very fortunate becoz Anshika ma'am will teach only those students
  
    section#sponsersSection
        h2 Our Sponser
    
    footer#footer 
        | our footer is here
    script
      include ../static/script.js
